.ant-notification-notice {
  border-radius: 10px;
  height: 100px;
  width: 500px;
  padding: 30px;
}
.ant-notification-notice.green-messages {
  border-left: 20px solid #6fe46f;
}
.ant-notification-notice.red-messages {
  border-left: 20px solid #d10b0b;
}
.ant-notification-notice.primary-messages {
  border-left: 20px solid #00a7cd;
}
.ant-notification-notice-icon {
  margin-top: 5px;
}
.ant-notification-notice-message {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 17px !important;
  margin-left: 60px !important;
}
.ant-notification-notice-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 15px !important;
  margin-left: 60px !important;
}
.close-icon-custom {
  margin-top: 25px;
}
