.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  float: left;
}
.ant-select-selector {
  border-radius: 8px !important;
  margin-top: 5px !important;
  text-align: left !important;
}
