@import '../abstracts/variables';
@import '../abstracts/mixins';

.text-color {
  color: $text-color;
}
.text-color--2 {
  color: $text-color--2;
}

.font-size-1 {
  font-size: $font-size--1;
}
.font-size-2 {
  font-size: $font-size--2;
}
.font-size-3 {
  font-size: $font-size--3;
}
.font-size-4 {
  font-size: $font-size--4;
}
.font-size-5 {
  font-size: $font-size--5;
}

.bg-primary {
  background: $bg-primary;
}
.bg-primary--50 {
  background: $bg-primary--50;
}

.text-line {
  --line: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line);
}

@for $i from 2 to 9 {
  .text-line-#{$i} {
    @extend .text-line;
    --line: #{$i};
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 100%;

  @include sm {
    max-width: 640px;
  }
  @include md {
    max-width: 768px;
  }
  @include lg {
    max-width: 1024px;
  }
  @include xl {
    max-width: 1280px;
  }
  @include xxl {
    max-width: 1536px;
  }
}
