@import '../../../../styles/mixins';

.customTable {
  thead > tr > th:nth-child(4) > div {
    justify-content: flex-end;
  }
  tbody > tr > td:nth-child(4) {
    text-align: right;
  }

  @include xxl {
    thead > tr > th:nth-child(1),
    tbody > tr > td:nth-child(1) {
      width: 29%;
    }
    thead > tr > th:nth-child(2),
    tbody > tr > td:nth-child(2) {
      width: 29%;
    }
    thead > tr > th:nth-child(3),
    tbody > tr > td:nth-child(3) {
      width: 21%;
    }
    thead > tr > th:nth-child(4),
    tbody > tr > td:nth-child(4) {
      width: 21%;
    }
  }
}

.customTable,
.customTable2 {
  tbody > tr > td {
    cursor: pointer;
  }
}
